body {
    font-family: Arial;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: green;
}
li a{
display: block;
padding: 25px;
color: white;
float: right;
border-left: 1px solid white;
}
li h2 {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.active {
    background-color: brown;
}
.header {
padding: 60px;
text-align: center;
background: #1abc1a;
color: white;
font-size: 30px;
}
.content {
    padding: 20px;
}